<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Diff</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static "dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "code/prettify.css" %}">
	<link rel="stylesheet" href="{% static "dist/css/diff_style.css" %}">
</head>
<body>

	<div class="card">
		<div class="card-header">
		  Push Config File
		</div>
		
		<div class="card-body">
			<div id="settings">
				<h1>Diff</h1>
				<label><input type="radio" name="diff_type" value="diffChars" checked> Chars</label>
				<label><input type="radio" name="diff_type" value="diffWords"> Words</label>
				<label><input type="radio" name="diff_type" value="diffLines"> Lines</label>
			</div>
		</div>
	</div>


<table>
	<tr>
		<td contenteditable="true" id="config_a">restaurant</td>
		<td contenteditable="true" id="config_b">aura</td>
		<td><pre id="result"></pre></td>
	</tr>
</table>

<script src="{% static "dist/js/diff.js" %}"></script>
<script defer>
var config_a = document.getElementById('config_a');
var config_b = document.getElementById('config_b');
var result = document.getElementById('result');

function changed() {
	var diff = JsDiff[window.diffType](config_a.textContent, config_b.textContent);
	var fragment = document.createDocumentFragment();
	for (var i=0; i < diff.length; i++) {

		if (diff[i].added && diff[i + 1] && diff[i + 1].removed) {
			var swap = diff[i];
			diff[i] = diff[i + 1];
			diff[i + 1] = swap;
		}

		var node;
		if (diff[i].removed) {
			node = document.createElement('del');
			node.appendChild(document.createTextNode(diff[i].value));
		} else if (diff[i].added) {
			node = document.createElement('ins');
			node.appendChild(document.createTextNode(diff[i].value));
		} else {
			node = document.createTextNode(diff[i].value);
		}
		fragment.appendChild(node);
	}

	result.textContent = '';
	result.appendChild(fragment);
}

window.onload = function() {
	onDiffTypeChange(document.querySelector('#settings [name="diff_type"]:checked'));
	changed();
};

config_a.onpaste = config_a.onchange =
config_b.onpaste = config_b.onchange = changed;

if ('oninput' in config_a) {
	config_a.oninput = config_b.oninput = changed;
} else {
	config_a.onkeyup = config_b.onkeyup = changed;
}

function onDiffTypeChange(radio) {
	window.diffType = radio.value;
	document.title = "Diff " + radio.value.slice(4);
}

var radio = document.getElementsByName('diff_type');
for (var i = 0; i < radio.length; i++) {
	radio[i].onchange = function(e) {
		onDiffTypeChange(e.target);
		changed();
	}
}
</script>
</body>
</html>
