{% extends "base.html" %}

{% block right %}
<div class="card">
        <div class="card-header">
            Edit for id({{ sources.configs.id }})
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="namew">Name</label>
                    <input type="text" name="name" class="form-control" id="namew" aria-describedby="name" placeholder="name" value="{{ sources.configs.name }}">
                </div>
                <div class="form-group">
                    <label for="descriptionw">Description</label>
                    <textarea name="description" class="form-control" id="descriptionw" placeholder="description" rows="5">{{ sources.configs.description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="pathw">Path</label>
                    <input type="text" name="path" class="form-control" id="pathw" aria-describedby="path" placeholder="path" value="{{ sources.configs.path }}">
                </div>
                <div class="form-group">
                    <label for="inputState">Status</label>
                    <select id="inputState" class="form-control" name="status">
                        <option {% if sources.configs.status == "Not Completed" %} selected {% endif %}>Not Completed</option>
                        <option {% if sources.configs.status == "Normal" %} selected {% endif %}>Normal</option>
                        <option {% if sources.configs.status == "Disabled" %} selected {% endif %}>Disabled</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="contentw">Content</label>
                    <textarea name="content" class="form-control" id="contentw" placeholder="content" rows="20">{{ sources.configs.contents }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    
{% endblock %}
