{% extends "base.html" %}

{% block right %}
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">name</th>
                    <th scope="col">status</th>
                    <th scope="col">create_time</th>
                </tr>
                </thead>
                <tbody>
                {% for i in sources.configs %}
                <tr>
                    <th scope="row"><a href="{% url 'ConfigProfile' i.id  %}">{{ i.id }}</th>
                    <td><a href="{% url 'ConfigProfile' i.id  %}">{{ i.name }}</a></td>
                    <td>{{ i.status }}</td>
                    <td>{{ i.create_time }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}