<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static "dist/css/bootstrap.min.css" %}">
    <!-- <link rel="stylesheet" href="{% static "dist/css/sticky-footer.css" %}"> -->
    <link rel="stylesheet" href="{% static "code/prettify.css" %}">

    <title>Configure Files Distributor-{{ sources.title }}</title>
  </head>
  <body>
    <div class="container">
      {% block main %}
        <div class="row">
          <div class="col-md-3">
            {% include "shortcuts.html" %}
          </div>
          <div class="col-md-9">
            {% if errors %}
              {% for error in errors %}
              <!-- <div class="row"> -->
                  <div class="alert alert-warning" role="alert">{{ error }}</div>
              <!-- </div> -->
              {% endfor %}
            {% endif %}
          {% block right %}
            
          {% endblock %}
          </div>
        </div>
      {% endblock %}
    </div>

    <footer class="footer">
      <div class="container text-center">
        <span>Web manager written by <a href="mailto:shallowcloud@yeah.net">Yorling</a>.</span>
      </div>
    </footer>
    <script src="{% static "dist/js/popper.min.js" %}"></script>
    <script src="{% static "dist/js/jquery.min.js" %}"></script>
    <script src="{% static "dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "code/run_prettify.js" %}"></script>
  </body>
</html>
