<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static "dist/css/bootstrap.min.css" %}">
    <!-- <link rel="stylesheet" href="{% static "dist/css/sticky-footer.css" %}"> -->
    <link rel="stylesheet" href="{% static "code/prettify.css" %}">
    {% block head %}
    {% endblock %}

    <title>{{ sources.title }}</title>
  </head>
  <body>
    <div class="container{% block fluid %}{% endblock %}">
      {% block main %}
        <div class="row">
          <div class="col-md-3">
            {% include "shortcuts.html" %}
          </div>
          <div class="col-md-9">
              {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif message.tags == "info" %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif message.tags == "success" %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif message.tags == "warning" %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
              {% endfor %}
          {% block right %}
            
          {% endblock %}
          </div>
        </div>
      {% endblock %}
    </div>
    <script src="{% static 'dist/js/popper.min.js' %}"></script>
    <script src="{% static 'dist/js/jquery.min.js' %}"></script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'code/run_prettify.js' %}"></script>
  </body>
</html>
