<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="{% static "dist/css/bootstrap.min.css" %}">
    <title>Configure Files Distributor</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">

        <h1 class="display-4">Welcome to ConfigDistributor</h1>
        <p class="lead">Easy to distribute configure files.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/web/auth/login/" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="/static/docs/" role="button">Docs</a>
      </div>
    </div>
    <script src="{% static "dist/js/popper.min.js" %}"></script>
    <script src="{% static "dist/js/jquery.min.js" %}"></script>
    <script src="{% static "dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "code/run_prettify.js" %}"></script>
  </body>
</html>
