<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="{% static "dist/css/bootstrap.min.css" %}">
    <!-- <link rel="stylesheet" href="{% static "dist/css/sticky-footer.css" %}"> -->
    <title>Configure Files Distributor</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">

        <h1 class="display-4">欢迎使用配置文件分发管理系统</h1>
        <p class="lead">简洁易用地管理与分发配置文件。</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/web/auth/login/" role="button">登录</a>
        <a class="btn btn-primary btn-lg" href="/web/docs/" role="button">文档</a>
      </div>
    </div>
    <footer class="footer">
      <div class="container text-center">
        <span>Web manager written by <a href="mailto:shallowcloud@yeah.net">Yorling</a>.</span>
      </div>
    </footer>
    <script src="{% static "dist/js/popper.min.js" %}"></script>
    <script src="{% static "dist/js/jquery.min.js" %}"></script>
    <script src="{% static "dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "code/run_prettify.js" %}"></script>
  </body>
</html>
