<div class="card">
<div class="card-header">ShortCuts</div>
<!-- <div class="panel-body"> -->
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'ConfigList' %}">Config File List</a></li>
        <li class="list-group-item"><a href="{% url 'ConfigAdd' %}">Add Config File</a></li>
        <li class="list-group-item"><a href="{% url 'AgentList' %}">Agent List</a></li>
        <li class="list-group-item"><a href="{% url 'AgentAdd' %}">Add Agent</a></li>
        <li class="list-group-item"><a href="{% url 'AuthLogout' %}">Logout</a></li>
    </ul>
<!-- </div> -->
</div>