<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/dist/css/bootstrap.min.css">
    \
    <link href="/static/dist/css/sticky-footer.css" rel="stylesheet">

    <title>Configure Files Distributor-{{ sources.title }}</title>
</head>
<body>

    <div class="container">

        <div class="row">
            <span class="col-md-3"></span>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        管理平台登录
                    </div>
                    <div class="panel-body">
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {% for error_i in error %}
                                {{ error_i }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <form class="form-horizontal" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="userName" class="col-sm-3 control-label">账户名称：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="userName" placeholder="用户名称"
                                           name="username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Password" class="col-sm-3 control-label">账户密码：</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="Password" placeholder="密码"
                                           name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-9 col-sm-3">
                                    <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-log-in"> 登录</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <span class="col-md-3"></span>
        </div>
    </div>
    <footer class="footer">
        <div class="container text-center">
            <span>Web manager written by <a href="mailto:shallowcloud@yeah.net">Yorling</a>.</span>
        </div>
    </footer>
    <script src="/static/dist/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/dist/js/popper.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
</body>
</html>
