{% extends "base.html" %}

{% block right %}
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">name</th>
                    <th scope="col">status</th>
                    <th scope="col">ip_address</th>
                </tr>
                </thead>
                <tbody>
                {% for i in sources.agents %}
                <tr>
                    <th scope="row"><a href="{% url 'AgentProfile' i.id  %}">{{ i.id }}</th>
                    <td><a href="{% url 'AgentProfile' i.id  %}">{{ i.name }}</a></td>
                    <td>
                        {% if i.status == "Connected" %}
                            <span class="badge badge-success">Connnected</span>
                        {% elif i.status == "Disconnected" %}
                            <span class="badge badge-warning">Disconnected</span>
                        {% elif i.status == "Never Connected" %}
                            <span class="badge badge-secondary">Never Connected</span>
                        {% endif %}
                    </td>
                    <td>{{ i.ip_address }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}