{% extends "base.html" %}

{% block right %}

<div class="card">
    <div class="card-header">
        Profile:
    </div>
    <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Info</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th>id</th>
                    <td>{{ sources.agents.id }}</td>
                </tr>
                <tr>
                    <th>name</th>
                    <td>{{ sources.agents.name }}</td>
                </tr>
                <tr>
                    <th>status</th>
                    <td>{{ sources.agents.status }}</td>
                </tr>
                <tr>
                    <th>create_time</th>
                    <td>{{ sources.agents.create_time }}</td>
                </tr>
                <tr>
                    <th>ip address</th>
                    <td>{{ sources.agents.ip_address }}</td>
                </tr>
                </tbody>
            </table>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>path</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for config in sources.agents.configs %}         
                            <tr>
                                <th><a href="{% url "ConfigProfile" config.id %}">{{ config.name }}</a></th>
                                <th>{{ config.path }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="{% url 'AgentEdit' sources.agents.id %}">Edit Profile</a>
                    <a class="dropdown-item" href="{% url 'AgentDelete' sources.agents.id %}">Delete THIS Server</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'PullById' sources.agents.id %}">Inspect Server's Configs</a>
                    <a class="dropdown-item" href="{% url 'PushById' sources.agents.id %}">Push Configs To Server</a>
                    <a class="dropdown-item" href="{% url 'TestConnectionById' sources.agents.id %}">Refresh Server's Connection Status</a>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}
