{% extends 'base.html' %}


{% block right %}
<div class="card">
  <div class="card-body">
      <p>IP: 192.168.1.30</p>
      <p>AgentID: 145678</p>
      <p>Status: <span class="badge badge-pill badge-success">Good</span></p>
      <p>LastConnectTime: Just now</p>
      <p>Configs: <span class="badge badge-pill badge-info">SSH</span><span class="badge badge-pill badge-info">MySQL</span><span class="badge badge-pill badge-info">Nginx</span></p>
      <p></p>
  </div>
</div>
{% endblock %}
