{% extends 'base.html' %}


{% block right %}
<div class="card">
  <div class="card-body">
      <p>IP: {{ sources.agents.ip_address }}</p>
      <p>AgentID: {{ sources.agents.id }}</p>
      <p>Status: <span class="badge badge-pill badge-success">{{ sources.agents.status }}</span></p>
      <p>LastConnectTime: Just now</p>
      <p>Configs:
          {% for i in sources.agents.configs %}
          <a href="/web/config/{{i.id}}/"><span class="badge badge-pill badge-info">{{ i.name }}</span></a>
          {% endfor %}
      </p>
      <p></p>
  </div>
</div>
{% endblock %}
