{% extends 'base.html' %}


{% block right %}
<div class="col-md-9">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">配置文件名字</th>
                      <th scope="col">创建时间</th>
                      <th scope="col">状态</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in sources.configs %}
                    <tr>
                      <th scope="row"><a href="/web/config/{{ i.id }}/">{{ i.id }}</a></th>
                      <td>{{ i.name }}</td>
                      <td>{{ i.create_time }}</td>
                      <td>{{ i.status }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
</div>
{% endblock %}
