{% extends 'base.html' %}


{% block right %}
<div class="col-md-9">
<div class="card">
  <div class="card-header">
    配置文件内容-{{ sources.configs.name }}<span class="badge badge-pill badge-success">{{ sources.configs.status }}</span>
<button type="button" class="btn btn-primary">编辑</button>
      <button type="button" class="btn btn-danger">删除</button>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
        <pre><code>
            {{ sources.configs.contents }}
        </code></pre>
      <footer class="blockquote-footer"> Edited by <cite title="Source Title">Yorling</cite></footer>
    </blockquote>
  </div>
</div>
</div>
{% endblock %}
